{{>partial/header.hbs append="Launch"}}

{{>partial/nav.hbs}}

<h1 class="title">Greedy Greedy</h1>
<div class="button">
    <a id="launchAnchor">Launch</a>
</div>
<p class="discreet">If this page looks odd, it is probably the color scheme. *wink*</p>

<script>
    const AUTH_CODE = "{{authCode}}";
    const PORT = "{{port}}";
    const TYPE = "{{type}}";
</script>
{{>partial/mobile-detect.hbs}}
<script src="/js/callback.js"></script>

{{>partial/footer.hbs}}