{{>partial/header.hbs}}

{{>partial/nav.hbs}}

<h1 class="title">Greedy Greedy</h1>
<h2 class="sub-title">Farkle, Zilch, 10000 Dice: A Game of Dice</h2>
<h1 class="sub-title">Web version coming soon!</h1>

<div>
    <div class="button button-tall button-green">
        <a href="https://play.google.com/store/apps/details?id=com.rolandoislas.greedygreedy">Android</a>
    </div>
    <div class="button button-tall button-blue"><a href="/download">Desktop</a></div>
</div>

{{>partial/footer.hbs}}