{{>partial/header.hbs}}

{{>partial/nav.hbs}}

<h1 class="title">Greedy Greedy</h1>
<h2 class="sub-title">Farkle, Zilch, 10000 Dice: A Game of Dice</h2>

<div class="text">
    <p class="text-inner">
        {{{text}}}
    </p>
</div>

{{>partial/footer.hbs}}