<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Farkle, Zilch, 10000 Dice: A Game of Dice">
    <title>
    {{#if title}}
        {{title}}
    {{else if append}}
        Greedy Greedy - {{append}}
    {{else}}
        Greedy Greedy
    {{/if}}
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>