<div class="nav">
    <div class="nav-inner">
        <a href="/"><div class="nav-logo" title="Greedy Greedy"></div></a>
        <ul>
            <li><a href="/info">Info</a></li>
        </ul>
    </div>
</div>